.chat-main
  .chat-main__group-info
    .chat-main__group-info__current-group
      .chat-main__group-info__current-group__name
        =@group.name
      .chat-main__group-info__current-group__member
        Member : 
        -@group.users.each do |user|
          .chat-main__group-info__current-group__member-list
            = user.name
    .chat-main__group-info__edit-btn
      = link_to "edit", edit_group_path(@group)

  .chat-main__message-list
    = render @messages
  
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .chat-main__message-form__content
        .chat-main__message-form__content__new-massage
          = f.text_field :content, class: 'chat-main__message-form__content__new-massage__input-text', placeholder: 'type a message'
          = f.label :image, class: 'chat-main__message-form__content__new-massage__input-image' do
            = icon('fas', 'image', class: 'chat-main__message-form__content__new-massage__input-image')
            = f.file_field :image, class: 'Hidden'
        = f.submit 'Send', class: 'chat-main__message-form__content__submit'
        
  